body {
    background-color: black;
    color: #990000;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    color: #cc0000;
}

.form-control {
    background-color: #111111;
    color: #990000;
    border-color: #990000; 
}

.form-control:focus {
    background-color: #333333;
    color: #cc0000;
    border-color: #cc0000; 
}

.bg-black {
    background-color: black;
}

.bg-darker {
    background-color: #111111;
}

.btn {
    color: #990000;
}

.btn:hover {
    color: red;
}

.modal-content {
    border: 1px #990000 solid;
}

.modal-header {
    border-bottom: 1px #990000 solid;
}

.modal-footer {
    border-top: 1px #990000 solid;
}

#captured_image {
    border: 1px #990000 solid;
}
